{{> head}}
{{> navbar }}


<div class="row">

    <div class="col-8" >
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facere ipsam maiores nisi laudantium? Voluptates eum in incidunt praesentium et dolore id modi quod debitis! Eius, impedit iste. Temporibus, perferendis.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/banner-ico.png" class="img-thumbnail">
    </div>

</div>


{{> footer }}